# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

build/kustomize/crd/protected/instances/base/
build/kustomize/crd/unprotected/instances/base/
build/kustomize/rbac/role/base/
build/kustomize/rbac/rolebinding/base/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
/jenkins-operator
.idea/
dist/
Go_build_*